<!--Div created to seperate columns and rows with an add button  -->

<div class="row">
    <div class="col">
     <h1><%= title %></h1>
        <a href="/contact/add" class="btn btn-primary" role="button" <i class="fa fa-align-center" aria-hidden="true"></i>>
        <i class="fas fa-plus-circle"></i> Add a contact
        </a>
        <br> 
<!--Table inserted -->
<div class="container">
 

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  <!--Repeatable Row Template -->
  <% for(let count =0; count < contact.length; count++){ %>
    <tr>
      <th scope="row"><%= count + 1 %></th>
      <td><%= contact[count].name %></td>
      <td><%= contact[count].number %></td>
      <td><%= contact[count].email %></td>
    </tr>    
    <% } %>
  </tbody>
</table>
  </div>
</div>
</div>