<!--Div created to seperate columns and rows with an add button  -->

<div class="row">
    <div class="col">   
    <% if(displayName) { %>
           <a href="/contact-list/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Add Contact List</a>
        <% } %> 
     <h1><%= title %></h1>
     <div class="container">
        
        <br> 
<!--Table inserted -->

 

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <% if(displayName) { %>
                   <th></th>
                   <th></th>
                <% } %>
    </tr>
  </thead>
  <tbody>

  <!--Repeatable Row Template -->
  <% for(let count =0; count < contact.length; count++){ %>
    <tr>
      <th scope="row"><%= count + 1 %></th>
      <td><%= contact[count].name %></td>
      <td><%= contact[count].number %></td>
      <td><%= contact[count].email %></td>
      <% if(displayName) { %>
                      <td class="text-center"><a href="/contact-list/edit/<%= clothing[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
                      <td class="text-center"><a href="/contact-list/delete/<%= clothing[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
                    <% } %>
                </tr>
              <% } %>
  </tbody>
</table>
<a href="/contact/add" class="btn btn-primary" role="button" text-align = "center">
        <i class="fas fa-plus-circle"></i> Add a contact
        </a>
  </div>
</div>
</div>